$default: #222222; //шрифт
$title: #222222; // заголовки bg
$hover: #1EC4FF;
$disable: #E8E8E8;

%fira-400 {
  font-family: "FiraSans", sans-serif;
  font-weight: 400;
}

%fira-500 {
  font-family: "FiraSans", sans-serif;
  font-weight: 500;
}

%fira-600 {
  font-family: "FiraSans", sans-serif;
  font-weight: 600;
}

%fira-700 {
  font-family: "FiraSans", sans-serif;
  font-weight: 700;
}


@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}
